Source: pebble-sdk
Section: devel
Priority: optional
Maintainer: Olivier Mehani <shtrom+debian@ssji.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://developer.getpebble.com/2/getting-started/
Vcs-Git: git://scm.narf.ssji.net/git/pebble-sdk-debian.git
Vcs-Browser: http://scm.narf.ssji.net/git/pebble-sdk-debian/

Package: pebble-sdk
Architecture: all
# python-freetype-py and python-pypng can be build with py2dsc from python-stdeb
# See [0] and [1], respectively, for debinisation
# [0] https://github.com/shtrom/freetype-py
# [1] https://github.com/shtrom/pypng
Depends: ${misc:Depends}, binutils-arm-none-eabi, gcc-arm-none-eabi, python, python-sh, python-websocket, python-autobahn, python-freetype-py, python-pypng
Suggests: bluez, python-serial, python-bluez, python-lightblue
Description: Pebble Software Development Kit (in /Pebble/)
 This development kit allows the development of watchface
 and watchapp for the Pebble connected smartwatch in C.

